@model WebLaptop.Models.Page

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4>Thông tin Page</h4>
<table class="table table-hover no-margin">
    <tbody>
        <tr>
            <td>ID: </td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Tên Page </td>
            <td>@Model.PageName</i></td>
        </tr>
        <tr>
            <td>Ảnh</td>
            <td>
                <img width="200" height="200" src="~/images/pages/@Model.Thumb" alt="@Model.Title" />
            </td>
        </tr>
        <tr>
            <td>MetaDesc: </td>
            <td>@Model.MetaDesc</td>
        </tr>
        <tr>
            <td>Ngày tạo: </td>
            <td>@Model.CreatedAt</td>
        </tr>
        <tr>
            <td>MetaKey: </td>
            <td>@Model.MetaKey</td>
        </tr>
        <tr>
            <td>Nội dung: </td>
            <td>@Model.Contents</td>
        </tr>
        <tr>
            <td>Xác nhận xóa</td>
            <td>
                <form asp-action="Delete" asp-route-id="@Model.Id">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Xác nhận xóa" class="btn btn-default" />
                </form>
            </td>

        </tr>
    </tbody>
</table>