@model WebLaptop.Models.Product

@{
    ViewData["Title"] = "Shop Details" + Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> IsProduct = ViewBag.sanpham;
}

<main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area box-plr-75">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__wrapper">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- product area start -->
    <section class="product__area box-plr-75 pb-70">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-5 col-xl-5 col-lg-5">
                    <div class="product__details-nav d-sm-flex align-items-start">
                        <ul class="nav nav-tabs flex-sm-column justify-content-between" id="productThumbTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="thumbOne-tab" data-bs-toggle="tab" data-bs-target="#thumbOne" type="button" role="tab" aria-controls="thumbOne" aria-selected="true">
                                    <img src="~/images/products/@Model.Thumb" alt="@Model.Title">
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="thumbTwo-tab" data-bs-toggle="tab" data-bs-target="#thumbTwo" type="button" role="tab" aria-controls="thumbTwo" aria-selected="false">
                                    <img src="~/images/products/@Model.Thumb" alt="@Model.Title">
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="thumbThree-tab" data-bs-toggle="tab" data-bs-target="#thumbThree" type="button" role="tab" aria-controls="thumbThree" aria-selected="false">
                                    <img src="~/images/products/@Model.Thumb" alt="@Model.Title">
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="thumbFour-tab" data-bs-toggle="tab" data-bs-target="#thumbFour" type="button" role="tab" aria-controls="thumbFour" aria-selected="false">
                                    <img src="~/images/products/@Model.Thumb" alt="@Model.Title">
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="thumbFive-tab" data-bs-toggle="tab" data-bs-target="#thumbFive" type="button" role="tab" aria-controls="thumbFive" aria-selected="false">
                                    <img src="~/images/products/@Model.Thumb" alt="@Model.Title">
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="thumbSix-tab" data-bs-toggle="tab" data-bs-target="#thumbSix" type="button" role="tab" aria-controls="thumbSix" aria-selected="false">
                                    <img src="~/images/products/@Model.Thumb" alt="@Model.Title">
                                </button>
                            </li>
                        </ul>
                        <div class="product__details-thumb">
                            <div class="tab-content" id="productThumbContent">
                                <div class="tab-pane fade show active" id="thumbOne" role="tabpanel" aria-labelledby="thumbOne-tab">
                                    <div class="product__details-nav-thumb">
                                        <img src="~/images/products/@Model.Thumb" alt="@Model.Title">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="thumbTwo" role="tabpanel" aria-labelledby="thumbTwo-tab">
                                    <div class="product__details-nav-thumb">
                                        <img src="~/images/products/@Model.Thumb" alt="@Model.Title">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="thumbThree" role="tabpanel" aria-labelledby="thumbThree-tab">
                                    <div class="product__details-nav-thumb">
                                        <img src="~/images/products/@Model.Thumb" alt="@Model.Title">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="thumbFour" role="tabpanel" aria-labelledby="thumbFour-tab">
                                    <div class="product__details-nav-thumb">
                                        <img src="~/images/products/@Model.Thumb" alt="@Model.Title">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="thumbFive" role="tabpanel" aria-labelledby="thumbFive-tab">
                                    <div class="product__details-nav-thumb">
                                        <img src="~/images/products/@Model.Thumb" alt="@Model.Title">
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="thumbSix" role="tabpanel" aria-labelledby="thumbSix-tab">
                                    <div class="product__details-nav-thumb">
                                        <img src="~/images/products/@Model.Thumb" alt="@Model.Title">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-7 col-xl-7 col-lg-7">
                    <div class="product__details-wrapper">
                        <div class="product__details">
                            <h3 class="product__details-title">
                                <a href="product-details.html">@Model.ProducName</a>
                            </h3>

                            <div class="product__price">
                                <span class="new">@Model.Price.Value.ToString("#,###") VND</span>
                                @*<span class="old">$320.00</span>*@
                            </div>
                            <div class="product__stock">
                                <span>Trạng thái :</span>
                                @if (Model.UnitslnStock.Value > 0)
                                {
                                    <span class="notice notice-blue">Còn hàng</span>
                                }
                                else
                                {
                                    <span class="notice notice-danger">Hết hàng</span>
                                }

                            </div>
                        
                            <div class="product__stock sku mb-30">
                                <span>Danh mục:</span>
                                <span><a href="/@Model.Cat.Alias">@Model.Cat.CastName</a></span>
                            </div>
                            <div class="product__details-des mb-30">
                                <p>@Model.ShortDesc</p>
                            </div>
                            <div class="product__details-stock">
                                @if (Model.UnitslnStock.Value > 0)
                                {
                                    <h3><span>Nhanh lên!</span> chỉ còn @Model.UnitslnStock sản phẩm trong kho</h3>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-width="100%" style="width: 100%;"></div>
                                    </div>
                                    <div class="product__details-quantity mb-20">
                                        <form action="#">
                                            <div class="pro-quan-area d-lg-flex align-items-center">
                                                <div class="product-quantity mr-20 mb-25">
                                                    <div class="cart-plus-minus p-relative"><input class="txtsoLuong" type="text" value="1"><div class=" dec qtybutton">-</div><div class="inc qtybutton">+</div></div>
                                                </div>
                                                <div class="pro-cart-btn mb-25">
                                                    <button class="add-to-cart t-y-btn" type="submit">Add to cart</button>
                                                    <input hidden asp-for="Id" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
            }
            else
            {
                            <div class="product__details-quantity mb-20">
                                <form action="#">
                                    <div class="pro-quan-area d-lg-flex align-items-center">
                                        <div class="product-quantity mr-20 mb-25">
                                            <div class="cart-plus-minus p-relative"><input type="text" value="1"><div class=" dec qtybutton">-</div><div class="inc qtybutton">+</div></div>
                                        </div>
                                        <div class="pro-cart-btn mb-25">
                                            <button class=" t-y-btn">Hết hàng</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
            }
                            </div>
                            
                            <div class="product__details-action">
                                <ul>
                                    <li><a href="#" title="Add to Wishlist"><i class="fal fa-heart"></i></a></li>
                                    <li><a href="#" title="Compare"><i class="far fa-sliders-h"></i></a></li>
                                    <li><a href="#" title="Print"><i class="fal fa-print"></i></a></li>
                                    <li><a href="#" title="Print"><i class="fal fa-share-alt"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-12">
                    <div class="product__details-des-tab mb-40 mt-110">
                        <ul class="nav nav-tabs" id="productDesTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="des-tab" data-bs-toggle="tab" data-bs-target="#des" type="button" role="tab" aria-controls="des" aria-selected="false">Details</button>
                            </li>
                           
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-12">
                    <div class="tab-content" id="prodductDesTaContent">
                        <div class="tab-pane fade active show" id="des" role="tabpanel" aria-labelledby="des-tab">
                            <div class="product__details-des-wrapper">
                                <div class="product__details-des mb-20">
                                    <h3>@Model.Title</h3>
                                    <p>@Html.Raw(Model.Description)</p>
                                </div>
         
                                <div class="product__details-des-banner w-img">
                                    <img src="assets/img/shop/product/details/product-details-banner.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- product area end -->
    <!-- product area start -->
    <section class="product__area box-plr-75 pb-20">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="section__head mb-40">
                        <div class="section__title">
                            <h3>Có thể bạn sẽ thích</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-12">
                    <div class="product__slider owl-carousel">
                        @if (IsProduct != null)
                        {
                            foreach (var item in IsProduct)
                            {
                                string url = $"/{item.Alias}-{item.Id}.html";
                                <div class="product__item white-bg mb-30">
                                    <div class="product__thumb p-relative">
                                        <a href="product-details.html" class="w-img">
                                            <img src="~/images/products/@item.Thumb" alt="@item.Title">
                                            <img class="second-img" src="~/images/products/@item.Thumb" alt="@item.Title">
                                        </a>
                                        <div class="product__action p-absolute">
                                            <ul>
                                                <li><a href="#" title="Add to Wishlist"><i class="fal fa-heart"></i></a></li>
                                                <li><a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#productModalId"><i class="fal fa-search"></i></a></li>
                                                <li><a href="#" title="Compare"><i class="far fa-sliders-h"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__content text-center">
                                        <h6 class="product-name">
                                            <a class="product-item-link" href="@url">@item.ProducName</a>
                                        </h6>
                                     
                                        <span class="price">@item.Price.Value.ToString("#,###") VND</span>
                                    </div>
                                    
                                </div>
                            }
                        }


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product area end -->
    <!-- brand area start -->
    <section class="brand__area">
        <div class="container custom-container">
            <div class="row align-items-center">
                <div class="col-xl-12">
                    <div class="brand__slider owl-carousel owl-loaded owl-drag">




                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-968px, 0px, 0px); transition: all 0s ease 0s; width: 3227px;">
                                <div class="owl-item cloned" style="width: 292.667px; margin-right: 30px;">
                                    <div class="brand__item">
                                        <img src="assets/img/brand/brand-2.jpg" alt="">
                                    </div>
                                </div><div class="owl-item cloned" style="width: 292.667px; margin-right: 30px;">
                                    <div class="brand__item">
                                        <img src="assets/img/brand/brand-3.jpg" alt="">
                                    </div>
                                </div><div class="owl-item cloned" style="width: 292.667px; margin-right: 30px;">
                                    <div class="brand__item">
                                        <img src="assets/img/brand/brand-4.jpg" alt="">
                                    </div>
                                </div><div class="owl-item active" style="width: 292.667px; margin-right: 30px;">
                                    <div class="brand__item">
                                        <img src="assets/img/brand/brand-1.jpg" alt="">
                                    </div>
                                </div><div class="owl-item active" style="width: 292.667px; margin-right: 30px;">
                                    <div class="brand__item">
                                        <img src="assets/img/brand/brand-2.jpg" alt="">
                                    </div>
                                </div><div class="owl-item active" style="width: 292.667px; margin-right: 30px;">
                                    <div class="brand__item">
                                        <img src="assets/img/brand/brand-3.jpg" alt="">
                                    </div>
                                </div><div class="owl-item" style="width: 292.667px; margin-right: 30px;">
                                    <div class="brand__item">
                                        <img src="assets/img/brand/brand-4.jpg" alt="">
                                    </div>
                                </div><div class="owl-item cloned" style="width: 292.667px; margin-right: 30px;">
                                    <div class="brand__item">
                                        <img src="assets/img/brand/brand-1.jpg" alt="">
                                    </div>
                                </div><div class="owl-item cloned" style="width: 292.667px; margin-right: 30px;">
                                    <div class="brand__item">
                                        <img src="assets/img/brand/brand-2.jpg" alt="">
                                    </div>
                                </div><div class="owl-item cloned" style="width: 292.667px; margin-right: 30px;">
                                    <div class="brand__item">
                                        <img src="assets/img/brand/brand-3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-nav disabled"><div class="owl-prev"><button><i class="fal fa-angle-left"></i></button></div><div class="owl-next"><button><i class="fal fa-angle-right"></i></button></div></div><div class="owl-dots disabled"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- brand area end -->
    <!-- shop modal start -->
    <div class="modal fade" id="productModalId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-box">
                                    <div class="tab-content" id="modalTabContent">
                                        <div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="assets/img/shop/product/quick-view/quick-view-1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav2" role="tabpanel" aria-labelledby="nav2-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="assets/img/shop/product/quick-view/quick-view-2.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav3" role="tabpanel" aria-labelledby="nav3-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="assets/img/shop/product/quick-view/quick-view-3.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav4" role="tabpanel" aria-labelledby="nav4-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="assets/img/shop/product/quick-view/quick-view-4.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="nav1-tab" data-bs-toggle="tab" data-bs-target="#nav1" type="button" role="tab" aria-controls="nav1" aria-selected="true">
                                                <img src="assets/img/shop/product/quick-view/nav/quick-nav-1.jpg" alt="">
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav2-tab" data-bs-toggle="tab" data-bs-target="#nav2" type="button" role="tab" aria-controls="nav2" aria-selected="false">
                                                <img src="assets/img/shop/product/quick-view/nav/quick-nav-2.jpg" alt="">
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav3-tab" data-bs-toggle="tab" data-bs-target="#nav3" type="button" role="tab" aria-controls="nav3" aria-selected="false">
                                                <img src="assets/img/shop/product/quick-view/nav/quick-nav-3.jpg" alt="">
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav4-tab" data-bs-toggle="tab" data-bs-target="#nav4" type="button" role="tab" aria-controls="nav4" aria-selected="false">
                                                <img src="assets/img/shop/product/quick-view/nav/quick-nav-4.jpg" alt="">
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-content">
                                    <h4><a href="product-details.html">Samsung C49J89: £875, Debenhams Plus</a></h4>
                                    <div class="product__modal-des mb-40">
                                        <p>Typi non habent claritatem insitam, est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt </p>
                                    </div>
                                    <div class="product__stock">
                                        <span>Availability :</span>
                                        <span>In Stock</span>
                                    </div>
                                    <div class="product__stock sku mb-30">
                                        <span>SKU:</span>
                                        <span>Samsung C49J89: £875, Debenhams Plus</span>
                                    </div>
                                    <div class="product__review d-sm-flex">
                                        <div class="rating rating__shop mb-15 mr-35">
                                            <ul>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__add-review mb-15">
                                            <span><a href="#">1 Review</a></span>
                                            <span><a href="#">Add Review</a></span>
                                        </div>
                                    </div>
                                    <div class="product__price">
                                        <span>$560.00</span>
                                    </div>
                                    <div class="product__modal-form mb-30">
                                        <form action="#">
                                            <div class="pro-quan-area d-lg-flex align-items-center">
                                                <div class="product-quantity mr-20 mb-25">
                                                    <div class="cart-plus-minus p-relative"><input type="text" value="1"><div class="dec qtybutton">-</div><div class="inc qtybutton">+</div></div>
                                                </div>
                                                <div class="pro-cart-btn mb-25">
                                                    <button class="t-y-btn" type="submit">Add to cart</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="product__modal-links">
                                        <ul>
                                            <li><a href="#" title="Add to Wishlist"><i class="fal fa-heart"></i></a></li>
                                            <li><a href="#" title="Compare"><i class="far fa-sliders-h"></i></a></li>
                                            <li><a href="#" title="Print"><i class="fal fa-print"></i></a></li>
                                            <li><a href="#" title="Print"><i class="fal fa-share-alt"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop modal end -->

</main>

@section Scripts{ 

    <script>
        $(document).ready(function () {
            $(function () {

                function loadHeaderCart() {
                    $("#HeaderCart").load("/AjaxContent/HeaderCart");
                    $("#NumberCart").load("/AjaxContent/NumberCart");
                }
                $(".add-to-cart").click(function () {
                    var productid = $('#Id').val();
                    var soLuong = $('.txtsoLuong').val();
                    $.ajax({
                        url: '/api/cart/add',
                        type: "POST",
                        datatype: "JSON",
                        data: {
                            productID: productid,
                            amount: soLuong
                        },
                        success: function (response) {
                            if (response.success) {
                                loadHeaderCart();
                                location.reload();
                            }                          
                        },
                        error: function (error) {
                            alert("There was an erro posting the data to the server:" + error.responseText);
                        }

                    });
                });
            });
        });
       

       
        
    </script>
}
