@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebLaptop.Models.Tintuc>
@{
    int CurrentPage = ViewBag.CurrentPage;
    int PageNext = CurrentPage + 1;
    ViewData["Title"] = "Blog Index-" + CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Tintuc> IsBestSell = ViewBag.BestSell;
}

<main>

    <!-- breadcrumb area start -->
    <section class="breadcrumb__area box-plr-75">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="breadcrumb__wrapper">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- blog area start -->
    <section class="blog__area box-plr-75 pb-70">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-2 col-xl-3 col-lg-3">
                    <div class="sidebar__widget">
                        <div class="sidebar__widget-item mb-35">
                            <div class="sidebar__search">
                                <form action="#">
                                    <input type="text" placeholder="Search posts here">
                                    <button type="submit"><i class="far fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        
                        <div class="sidebar__widget-item mb-35">
                            <h3 class="sidebar__widget-title mb-30">Bài viết hot</h3>
                            <div class="sidebar__post rc__post">
                                <ul>
                                    @if (IsBestSell != null)
                                    {
                                        foreach (var item in IsBestSell)
                                        {

                                            string url = $"/tin-tuc/{item.Alias}-{item.Id}.html";
                                            <li>
                                                <div class="rc__post d-flex align-items-center">
                                                    <div class="rc__post-thumb mr-20">
                                                        <a href="blog-details.html">
                                                            <img src="~/images/tintuc/@item.Thumb" alt="@item.Title">
                                                        </a>
                                                    </div>
                                                    <div class="rc__post-content">
                                                        <h3 class="rc__post-title">
                                                            <a href="@url">@item.Title </a>
                                                        </h3>
                                                        <div class="rc__meta">
                                                            <span>@item.CreateDate</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }


                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xxl-10 col-xl-9 col-lg-9 order-first order-lg-last">
                    <div class="row">
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                string url = $"/tin-tuc/{item.Alias}-{item.Id}.html";
                                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                    <article class="postbox__item format-image mb-50 transition-3">
                                        <div class="postbox__thumb w-img">
                                            <a href="blog-details.html">
                                                <img src="~/images/tintuc/@item.Thumb" alt="@item.Title">
                                            </a>
                                        </div>
                                        <div class="postbox__content">
                                            <h3 class="postbox__title">
                                                <a href="@url">@item.Title</a>
                                            </h3>
                                            <div class="postbox__meta">
                                                <p>Post Date: <span>@item.CreateDate </span></p>

                                            </div>
                                            <div class="postbox__text">
                                                <p>@Html.Raw(item.Scontent)</p>
                                            </div>
                                            <div class="postbox__bottom d-flex justify-content-between align-items-center">
                                                <div class="postbox__more">
                                                    <a href="@url" class="t-y-btn t-y-btn-grey">read more</a>
                                                </div>
                                                @*<div class="postbox__tag">
                                                    <p> Categories: <a href="blog.html">Cooking</a></p>
                                                </div>*@
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            }
                        }


                        <div class="col-xxl-12">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Page @CurrentPage</div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                                        <ul class="pagination">
                                            <pager class="pager-container" list="@Model" asp-area="" asp-controller="Blog"  asp-action="Index"></pager>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog area end -->
    <!-- brand area start -->
   
    <!-- brand area end -->

</main>

