@model List<Product>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.ProducName</td>
            <td>@item.Cat.CastName</td>
            <td>@item.Price.Value.ToString("#,###") VND</td>
            <td>@item.UnitslnStock</td>
            <td>
                @if (item.UnitslnStock.Value > 0)
                {
                    <span class="notice notice-blue">In Stock</span>
                }
                else
                {
                    <span class="notice notice-danger">Out Stock</span>
                }
            </td>
            <td>
                <a class="btn btn-info btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminProducts" asp-action="Details" asp-route-id="@item.Id">View</a>
                <a class="btn btn-primary btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-success btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
}