@model IEnumerable<WebLaptop.Models.TaiKhoan>

@{
    ViewData["Title"] = "Danh sách tài khoản quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh sách tài khoản</h2>

<div class="col-xs-12">
    <div class="box-content">
        <div class="row">
            <div class="form-group col-md-6">
                
            </div>
            <div class="form-group col-md-6">
                <div class="dropdown js__drop_down">
                    <a class="btn btn-info btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminTaiKhoans" asp-action="Create">Add sản phẩm</a>
                    <!-- /.sub-menu -->
                </div>
            </div>
        </div>
            <!-- /.sub-menu -->
            <!-- /.dropdown js__dropdown -->
            <table class="table table-striped margin-bottom-10 table-purchases">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>FullName</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Lần đăng nhập cuối</th>
                        <th>Quyền truy cập</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Ten</td>
                                <td>@item.Email</td>
                                <td>@item.Sdt</td>
                                <td>@item.Lastlogin</td>
                                <td>@item.Role.Desciption</td>
                                <td>
                                    @if (item.Trangthai)
                                    {
                                        <span class="notice notice-blue">Active</span>
                                    }
                                    else
                                    {
                                        <span class="notice notice-danger">Block</span>
                                    }
                                </td>
                                <td width="200px">
                                    <a class="btn btn-info btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminTaiKhoans" asp-action="Details" asp-route-id="@item.Id">View</a>
                                    <a class="btn btn-primary btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminTaiKhoans" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-success btn-xs waves-effect waves-light" asp-area="Admin" asp-controller="AdminTaiKhoans" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
            <!-- /.table -->
        </div>
            <!-- /.box-content -->
        </div>
